AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignEscapedNewlines: Right
AlignTrailingComments: False
AllowAllArgumentsOnNextLine: False
AllowAllConstructorInitializersOnNextLine: False
AllowAllParametersOfDeclarationOnNextLine: False
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: False
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: False
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: False
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: WebKit
BinPackArguments: False
BinPackParameters: False
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: True
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: False
ColumnLimit: 0
CompactNamespaces: False
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: False
PointerAlignment: Right
IncludeBlocks: Preserve
IndentCaseLabels: True
IndentGotoLabels: False
IndentPPDirectives: BeforeHash
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: False
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
ReflowComments: False
SortIncludes: True
SortUsingDeclarations: True
SpaceAfterCStyleCast: False
SpaceAfterLogicalNot: False
SpaceAfterTemplateKeyword: False
SpaceBeforeAssignmentOperators: True
SpaceBeforeCpp11BracedList: False
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: True
SpaceBeforeSquareBrackets: False
SpaceInEmptyBlock: False
SpaceInEmptyParentheses: False
SpacesBeforeTrailingComments: 1
SpacesInAngles: False
SpacesInCStyleCastParentheses: False
SpacesInConditionalStatement: False
SpacesInContainerLiterals: False
SpacesInParentheses: False
SpacesInSquareBrackets: False
Standard: c++20
TabWidth: 4
UseTab: Always
